* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  --base-color-rgb: 217, 217, 217;
  --base-color: rgb(var(--base-color-rgb));

  --babyBlue: #adddff;
  --dullBlue: #c4e6ff;

  --burgandy: #961313;
}

body {
  background-color: rgb(247, 248, 255);
}

h1 {
  color: rgb(77, 77, 77);
  letter-spacing: 0.1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator-body {
  border-radius: clamp(10px, 4vw, 10px);
  padding: 1rem 2rem 2rem 2rem;
  background-color: var(--dullBlue);
}

.calculator-body > div {
  display: flex;
  flex-wrap: wrap;
}

#calculator-input {
  display: flex;
  text-align: right;
  background: none;
  border: none;
  width: 100%;
  padding: 2rem 0.3rem; /* or 2rem 2rem */
  border-radius: 10px;
  border: 1px solid rgba(var(--base-color-rgb), 0.4);
  margin-bottom: 20px;
  font-size: 2rem;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

.calculator-button {
  flex: 1;
  padding: 8px 35px;
  margin: 2px;
  border-color: white;
  background-color: #b5c9d8;
  border: none;
  transition: 0s;
  width: calc(25% - 4px);  
  height: 50px; 
  font-size: 1.2rem;
}

.calculator-button:hover {
  cursor: pointer;
  background-color: #698292;
  transition: 0.1s;
}

button {
  color: white;
}

.wide-arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;  
  padding: 10px 20px;    
  border: none;          
  background-color: #89abc2; 
  color: white;       
  cursor: pointer;    
  border-radius: 5px;   
  transition: background-color 0.3s; 
}

.wide-arrow-btn:hover {
  background-color: #698292; 
}

.down-arrow {
  width: 38px;       
  height: 18px;    
  display: block;
}

.expanded-buttons {
  margin-left: 20px;  /* Adjust spacing between main calc and expanded section */
}

.calculator-section, .expanded-section {
  display: flex;
  flex-direction: column;
}

.flip-arrow {
  transform: rotate(180deg);
}